<!-- this is a partial for the nested form for creating a new answer_choice for a particular question -->

<div class='nested-fields'>
	<%= f.label :answer_choice %>
	<%= f.text_field :answer_choice %>
	<%- link_to_remove_association "Remove answer", f, :class => 'button' %>
</div>