
<!-- this is a nested partial form for creating a new answer choice -->

<div class='nested-fields'>
	<%= f.label :answer_choice %>
	<%= f.text_field :description %>
	<%= link_to_remove_association "Remove answer", f, :class => 'button' %>
</div>