<!-- this page shows all the questions the user has created -->
<div class="row">
	<div class="small-6 columns">
		<h1>My questions</h1>
		<hr>
	</div>
</div>


<div id="questions">
<%= render @questions %>

</div>

<div class="row">
	<div class="small-6 columns">
		<%= link_to "Create another new question", new_question_path, :class => "button [tiny small large]" %>
	</div>
</div>
