<div class="row">
	<div class="small-12 columns">
		<h1 class="h-one">Create a Question</h1>

		<hr>


		<div class='row'>
			<div class="small-9 columns">
				<%= render 'form' %>
			</div>
		</div>

	<%#= link_to "All my questions", questions_path %>

	</div>
</div>





 