 <h3>
   <%= @question.question %>
 </h3>
 <ol type="a">
 	<% @question.answer_choices.each do |a| %>
		<li><%= a.answer_choice %></li>
 		<% end %>
 </ol>

 <%= link_to "Back to my questions", questions_path %>