  
	<div class="row">
		<div class='large-12 columns'>
      <% if current_user %>
			<h2>Welcome <small><%= current_user.name %></small></h2>
      <% else %>
      <h2>You will have to log in to create a user account</h2>
      <% end %>
    </div>
	</div>