    
  <div class="row">
    <div class="small-12 columns">
      <h2 class="header-wrapper">Peer Instruction Polling <small>Why a polling app?</small></h2>
      <hr/>
    </div>
  </div>
 
  
    

    <div class="row">
      <div class="small-9 small-centered columns">

        <h5>Created by: Justin Podur and Justine Jones</h5>

        <p>We were impressed with the peer instruction educational methodology but dismayed by the lack of a free polling applications for instructors or presentors to use. The Peer Instruction polling application is intended to fill that gap. We hope you use it.</p>
      </div>
    </div>



 
   
 
 
   

