




    
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
      </div>
<h1>Peer Instruction Polling Contact Info</h1>
      <hr/>
    </div>
  </div>
 
   
 
 
   
 
  <div class="row">
 
     
    <div class="large-9 columns" role="content">
 
      <article>
 
        <h3><a href="#">About Peer Instruction Polling</a></h3>
        <h6>Written by <a href="#">Justin Podur and Justine Leigh</a></h6>
 
        <div class="row">
          <div class="large-6 columns">
<p>This app is a joint production by Justine Leigh and Justin Podur. Our github pages are below.</p>
<ul>
<li><a href="http://www.github.com/jjleigh">Justine Leigh</a></li>
<li><a href="http://www.github.com/justinpodur">Justin Podur</a></li>
</ul>
        </div>
 
      </article>


 
    </div>
 
    
     
  </div>
 
   
 
 
   

