  
  <div class="row">
    <div class="small-12 columns">
        <h2 class="header-wrapper">Contact Info</h2>
        <hr/>
    </div>
  </div>
 
  


  <div class="row">
    <div class="small-9 columns">

      <h6>Created by: Justin Podur and Justine Leigh</h6>

      <p>This app is a joint production by Justine Jones and Justin Podur. Our github pages are below.</p>
      <ul>
        <li><a href="http://www.github.com/jjleigh">Justine Jones</a></li>
        <li><a href="http://www.github.com/justinpodur">Justin Podur</a></li>
      </ul>

    </div>
  </div>
 
    

 
   
 
 
   

