<!-- this is the view for the home page -->   
 
		<div id="full-width" class="img">
				<h3 id="peer-title">Peer Instruction</h3>
				<h5 id="peer-slogan">Present, poll, participate</h5>
				<div class="call-to-action">
					<%= link_to "Get started today", new_user_path, :class => "button button-home" %> 
		
				</div>
				
				<div class="bg-img"></div>
		</div>
	 
 

 
 <div class="container">
 		<div class="home-containers">

		<div class="row">

			<div class="small-4 columns">
				<img src="http://asiasociety.org/files/imagecache/centers_articles_pages/gcen-teaching.png">
			</div>
	

			<div class="small-8 columns">
				<h4>Welcome to Peer Instruction</h4>
				<p>A free app for classroom polls. Use this application
				to implement classroom and presentation polling as described by the Peer Instruction teaching methodology. </p>
				

					<!-- <div class="large-6 columns">
						<p> <h4>Steps to create a poll:</h4> <ol>
						<li>Create and pose multiple choice questions.</li> 
						<li>Students answer over the internet.</li> 
						<li>Show the aggregate results.</li> 
						<li>Have students discuss the question in groups of 3-4</li>
						<li>Re-poll!</li>
						</ol>
					</div> -->
			</div>
			
		</div>
		
	</div>
 </div>



<div class="row">
	<div class="small-12 columns">
			<hr>
	</div>
</div>



	<div class="container">
		<div class="home-containers">
			<div class="row">
				

				<div class="small-7 columns">
					

					<h4>Bring participation back to your classroom</h4>
		 
					<p>Peer Instruction was first developed for large physics classrooms, but has been proven in all disciplines. While small classrooms can opt for discussions and other participative methods, our online polling app makes it possible for you to bring some interactivity and student participation back into a large classroom - or any kind of presentation - so long as the audience has access to the web (including on their mobile devices).</p>
		 
				</div>

				<div class="small-5 columns">
					<img src="http://www.evergreen.edu/subsites/images/teachers_handsraised.jpg">
				</div>

			

			</div>

		</div>
	</div>



	<div class="row">
		<div class="small-12 columns">
			<hr>
		</div>
	</div>

	<div class="container">
		<div class="home-containers">
			<div class="row">
		    <div class="small-12 columns">
		    
		      <h4>Steps to create a poll:</h4> 
		      <ol class='steps'>
		        <li><span>1</span>Create and pose multiple choice questions.</li>
		        <li><span>2</span>Students answer over the internet.</li> 
		        <li><span>3</span>Show the aggregate results.</li> 
		        <li><span>4</span>Have students discuss the question in groups of 3-4</li>
		        <li><span>5</span>Re-poll!</li>
		      </ol>
		    </div>
		  </div>

	  </div>
	</div>
		
	 
 
	

  




  
	