
.h-one {
	font-family: Arimo;
}

/*This applies to the show question page */

.show-question {
	padding-top: 150px; 
}
/*This applies to the index question page*/

#clickable-question {
	color: blue;
}

.header-wrapper {
	padding-top: 40px;
}

.question-wrapper {
	margin-bottom: 100px;
}