.footer-container {
	margin-top: 65px;
}


.learn-more {
	background-color: #2E4857;

	h5 {
		font-family: lato;
		color: silver;
	}

	p{ 
		/*padding-bottom: 50px;*/
		font-family: lato;
		font-weight: 300;
		color: silver
	}
}

hr {
	margin-bottom: 0;
}


.social-container {
	margin-top: 16px;
	padding-bottom: 40px;
}

/*styling for footer links*/

.about-container {
	padding-left: 200px;
}
