
body {
	background-color: white;
}
.links-in-nav {
	a {
		font-family: open sans;
	}
}

div.actions > .form-buttons {
		background-color: gray !important;
		border-radius: 3px;


}




div.nested-fields  > a.form-buttons{
	background-color: gray !important;
	border-radius: 3px;
}

div#answer_choices  > a.form-buttons {
	background-color: gray !important;
	border-radius: 3px;
}
 div.show-question > a.form-buttons{
	background-color: gray !important;
	border-radius: 3px;
 }

 div.side-nav > a.form-buttons{
	background-color: gray !important;
	border-radius: 3px;
 }
/*styling for the instructions*/


	.how-it-works-container{
	margin-bottom: 120px;
}

.instructions-header {
	margin-top: 50px;
	margin-bottom: 80px;
	font-family: open sans;
	color: #333333;
	font-size: 40px;
}

.instructions {
	font-family: open sans;
	color: #333333;
}

.instruction-icons {
	color: #333333;
	font-size: 80px;
}
.instructions-summary {
	color: #333333;
	font-family: open sans;
}


/*This code handles the top navigation bar*/

  .app-logo {
	font-family: 'Bree Serif', serif !important;
	font-size: 19px !important;
	color: white !important;
	/*margin-left: 30px !important;*/
  display: inline-block !important;
  /*text-align: center !important;*/
  background-color: #789F63 !important;
	padding-bottom: 15px !important;
	padding-top: 12px !important;
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}

.right {
  margin-right: 30px !important;
}

ul.left {
	margin-left: 80px !important;
	position: absolute !important;
	z-index: 999 !important;
}

ul.left > li {
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}