
body {
	background-color: white;
}
.links-in-nav {
	a {
		font-family: open sans;
	}
}

div.actions > .form-buttons {
		background-color: gray !important;
		border-radius: 3px;


/*styling for the instructions*/
}
	.how-it-works-container{
	margin-bottom: 120px;
}

.instructions-header {
	margin-top: 50px;
	margin-bottom: 80px;
	font-family: open sans;
	color: #333333;
	font-size: 40px;
}

.instructions {
	font-family: open sans;
	color: #333333;
}

.instruction-icons {
	color: #333333;
	font-size: 80px;
}
.instructions-summary {
	color: #333333;
	font-family: open sans;
}