
	<div class="row">
		
		<div class="small-6 small-centered columns">
			<div class="login-form">
				<fieldset>
    			<legend>Login</legend>
					<%= render 'form' %>
			</div>
		</div>
		
	</div>


<!-- 	<div class="row">
		<div class="small-6 columns">
			<h4>Forgot Password?</h4>
			<%#= render 'forgot_password_form' %>
		</div>
	</div>
 -->


