
	<div class="row">
		<div class="small-3 columns"></div>
		<div class="small-6 columns">
			<div class="login-form">
				<h1>Login</h1>
				<%= render 'form' %>
			</div>
		</div>
		<div class="small-3 columns"></div>
	</div>


<!-- 	<div class="row">
		<div class="small-6 columns">
			<h4>Forgot Password?</h4>
			<%#= render 'forgot_password_form' %>
		</div>
	</div>
 -->


